nav {
    background: #ddd !important;
}
body {
    background: #eee;
}
.footer {
    padding-left: 20px;
    color: #666;
}

#bg-header {
    margin-top: 10px;
    width: 70%;
}

#sidenav li {
    margin-top:10px;
}