nav {
    background: #ddd !important;
}
body {
    background: #eee;
}
.footer {
    padding-left: 20px;
    color: #666;
}

#jumbo-header {
    color: white;
    background-image: url("../images/mars.jpg");
}
